# Flutter
build/
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store

# Logs
*.log

# Web/Node
node_modules/
dist/

# Env
.env

# SQLite
*.sqlite
*.lock
