build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
pubspec.lock
.idea/
.vscode/
*.iml
/node_modules
/dist
.env
*.log
.DS_Store
*.lock
*.sqlite
*.iml
.idea
.vscode